[submodule "vcluster/cryoem/workload/explgbk-docker"]
	path = vcluster/cryoem/workload/explgbk-docker
	url = git@github.com:slaclab/explgbk-docker.git
[submodule "kyverno/slac-kyverno-policies"]
	path = kyverno/slac-kyverno-policies
	url = git@github.com:slaclab/slac-kyverno-policies.git
[submodule "vcluster/usdf-butler/workload/postgres-operator"]
	path = vcluster/usdf-butler/workload/crunchydata-operator/deps/postgres-operator
	url = https://github.com/CrunchyData/postgres-operator-examples.git
[submodule "vcluster/usdf-butler/workload/zalando-operator"]
	path = vcluster/usdf-butler/workload/zalando-operator/deps/zalando-operator
	url = https://github.com/zalando/postgres-operator.git
[submodule "vcluster/cryoem--dev/workload/explgbk-docker"]
	path = vcluster/cryoem--dev/workload/explgbk-docker
	url = git@github.com:slaclab/explgbk-docker.git
[submodule "zalando-postgres-operator/kubernetes/overlay/prod/postgres-operator"]
	path = zalando-postgres-operator/kubernetes/overlay/prod/postgres-operator
	url = https://github.com/zalando/postgres-operator.git
